#title {
    position: absolute;
    left: calc(50% - 500px);
    top: 100px;
}

.label {
    color: #FFF;
    font-family: sans-serif;
    padding: 2px;
    background: rgba(0, 0, 0, .6);
    opacity: 0.2;
}

#navbar {
    position: absolute;
    left: calc(50% - 200px);
    top: 300px;

}

.file {
    background-image: url('img/folder.png');
    background-repeat: no-repeat;
    width: 1000px;
    height: 1000px;
    /* background-color: lightblue; */
    /* width: 700px; */
    opacity: 0.6;
    /* border: lightskyblue solid 2px; */
    padding: 10px;
    color: slateblue;
    font-size: 20px;
    position: absolute;
    top: 100px;
    left: calc(50% - 350px);
    display: none;
    text-align: center;
}

.file img {
    max-width: 500px;
}

.file:hover {
    opacity: 1;
}